<div class="div1">
    <h3>Problems of ear</h3>
    <hr style=" width: 250px;">
    <h4>There are many different types of Lungs problems</h4>
    <ul>
        <li>Bronchitis: Bronchitis is an inflammation of the bronchi, the tubes that carry air to and from the lungs. Bronchitis can be caused by a virus, bacteria, or irritants such as smoke or dust.</li>
        <li>Emphysema: Emphysema is a chronic lung disease that causes the air sacs in the lungs to break down. This makes it difficult to breathe.</li>
        <li>COPD: COPD is a chronic lung disease that includes emphysema and chronic bronchitis.</li>
        <li>Asthma: Asthma is a chronic condition that causes inflammation and narrowing of the airways. This makes it difficult to breathe.</li>
        <li>Lung cancer: Lung cancer is a type of cancer that starts in the lungs. Lung cancer is the leading cause of cancer death for both men and women.</li>
    </ul>
    <br>
    <h6>If you are experiencing any of these lung problems, you should consult a doctor or a pulmonologist. A pulmonologist is a doctor who specializes in the lungs. They can help you determine the cause of your lung problem and recommend the best course of treatment.</h6>
    <br>
    <h6>In addition to medical treatment, there are some home remedies that may help to improve your lung health. Some of these home remedies include:</h6>
    <br>
    <ul>
        <li>Quitting smoking: Smoking is the leading cause of lung cancer and other lung diseases. Quitting smoking is the best thing you can do for your lung health.</li>
        <li>Getting regular exercise: Exercise helps to improve lung function and reduce inflammation.</li>
        <li>Eating a healthy diet: A healthy diet includes plenty of fruits, vegetables, and whole grains. These foods are packed with nutrients that are essential for lung health.</li>
        <li>Drinking plenty of fluids: Drinking plenty of fluids helps to thin mucus and make it easier to clear.
        </li>
    </ul>
    <h4>To search doctors near your location enter location in below search box and click on serach </h4>
        <br>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 250px;">
        <button class="btn btn-outline-success" type="submit" (click)="onclick()">Search</button>
      </form>
      <br>
</div>