<div class="div1">
    <h3>Problems of ear</h3>
    <hr style=" width: 250px;">
    <h4>There are many different types of hair problems</h4>
    <ul>
        <li>Dandruff: Dandruff is a common scalp condition that causes flaking and itching.</li>
        <li>Hair loss: Hair loss can be caused by a variety of factors, including genetics, stress, and medical conditions.</li>
        <li>Thinning hair: Thinning hair can be caused by a variety of factors, including genetics, stress, and medical conditions.</li>
        <li>Frizzy hair: Frizzy hair is caused by damage to the hair cuticle, which is the outer layer of the hair.</li>
        <li>Frizzy hair: Frizzy hair is caused by damage to the hair cuticle, which is the outer layer of the hair.</li>
        <li>Split ends: Split ends are caused by damage to the hair shaft.</li>
    </ul>
    <br>
     <h6>
        If you are experiencing any of these hair problems, you should consult a doctor or <q>dermatologist</q>. They can help you determine the cause of your hair problem and recommend the best course of treatment.
    </h6>
    <br>
    <h6>In addition to medical treatment, there are some home remedies that may help to improve your hair health. Some of these home remedies include:</h6>
    <br>
    <ul>
        <li>Massaging your scalp: Massaging your scalp can help to improve circulation and promote hair growth.</li>
        <li>Using a clarifying shampoo: Clarifying shampoos can help to remove build-up of dirt, oil, and product residue from your hair and scalp.</li>
        <li>Using a leave-in conditioner: Leave-in conditioners can help to hydrate your hair and prevent frizz.</li>
        <li>Avoiding heat styling: Heat styling can damage your hair and make it more prone to split ends.</li>
        <li>Getting regular trims: Getting regular trims can help to remove split ends and promote healthy hair growth.</li>
    </ul>
</div>