section .row .col .card{
    text-align: center;
}
section .row .col .card .card-title{
    color:#333;
    font-size:1.5rm;
    padding-top: 10px;

}
section .row .col .card .card-title .body button{
    background-color: aliceblue;
    border-radius:5px;
    width: 100px;
    color:blue;
    font-weight: 600px;
    padding: 4px 4px;
    transition: 0.7s;
}
section .row .col .card .card-title .body button:hover{
    background-color: aqua;
}

section .row .col .card{
    transition: transform 500ms;
}
section .row .col .card:hover{
    transform: scale(1.09);
}