/* .div1 img{
    position: relative;
    width: 100%;
    max-height: 30%;
}
.div1 h1{
    position: absolute;
    top: 50%;
    left:50%;
    bottom: 50%;
}
.div1 p{
    position: absolute;
    top: 63%;
    left:50%;
    bottom: 50%;
    right: 10%;
}
.div1  button{
    position: absolute;
    background-color: #81DAD4;
    width: 160px;
    height: 40px;
    left:60%;
    top: 85%;
    border: 1px solid  #81DAD4;
    box-shadow: 5px 5px solid  #81DAD4;
    border-radius: 5px;
}
.div1 button:hover{
    background-color:#12ead8;
} */
div ul li{
    font-size: 20px;
  } 