<div class="div1">
    <h3>Problems of ear</h3>
    <hr style=" width: 250px;">
    <h4>There are many different types of Mouth problems</h4>
    <ul>
        <li>Tooth decay: Tooth decay is a condition that causes the enamel on teeth to break down. Tooth decay is caused by bacteria that live in the mouth and feed on sugar.</li>
        <li>Gum disease: Gum disease is a condition that causes the gums to become inflamed and infected. Gum disease can lead to tooth loss.</li>
        <li>Canker sores: Canker sores are small, painful ulcers that can appear on the inside of the mouth. The cause of canker sores is unknown.</li>
        <li>Cold sores: Cold sores are small, painful blisters that can appear on the lips and around the mouth. Cold sores are caused by the herpes simplex virus.</li>
        <li>Thrush: Thrush is a yeast infection that can occur in the mouth. Thrush is often seen in babies and people with weakened immune systems.</li>
        <li>Mouth cancer: Mouth cancer is a rare type of cancer that can occur in the mouth. Mouth cancer is often caused by smoking and chewing tobacco.</li>
    </ul>
    <br>
    <h6>If you are experiencing any of these mouth problems, you should consult a <q>dentist or doctor</q>. They can help you determine the cause of your mouth problem and recommend the best course of treatment.
</h6>
<br>
<h6>In addition to medical treatment, there are some home remedies that may help to improve your mouth health. Some of these home remedies include:

</h6>
    <br>
    <ul>
        <li>Brushing your teeth twice a day: Brushing your teeth twice a day helps to remove plaque, a sticky film of bacteria that can cause tooth decay and gum disease.</li>
        <li>Flossing once a day: Flossing once a day helps to remove plaque and food particles from between your teeth.</li>
        <li>Using mouthwash: Mouthwash can help to kill bacteria and freshen breath.</li>
        <li>Eating a healthy diet: A healthy diet includes plenty of fruits, vegetables, and whole grains. These foods are packed with nutrients that are essential for oral health.</li>
        <li>Avoiding smoking and chewing tobacco: Smoking and chewing tobacco are major risk factors for mouth cancer. If you smoke or chew tobacco, quitting is the best way to reduce your risk of mouth cancer.</li>
    </ul>
</div>