<div class="div1">
    <img [src]="images" alt="">
    <div class="div2" data-aos="fly-in">
      <h3>Login</h3>
      <hr style="width: 300px;">
      <br>
      <input type="text" placeholder="Username">
      <br>
      <br>
      <input type="text" placeholder="Email or phonenumber">
      <br>
      <br>
      <input type="password" placeholder="password">
      <br>
      <br>
      <input type="password" name="" id="" placeholder="confirmpassword">
      <br>
      <br>
      <button (click)="onclick1()">Signup</button>
      <br>
      <br>
      <ul>
        <li>Terms & conditions Read more.. <a href="login" style="text-decoration: none;" (click)="onclick()">Login</a></li>
      </ul>
    </div>
  </div>
  