<!-- <router-outlet></router-outlet> -->
<div class="container mt-4 pt-4">
  <h1 class="text-center">About Us</h1>
  <div class="row mt-4">
      <div class="col-lg-4">
          <img src="https://cdn.dribbble.com/users/2146370/screenshots/4432324/doctor.gif" class= "imageAboutPage" alt="" style="width: 100%;">
      </div>

      <div class="col-lg-8">
          <p> Our Team refers to a systematic approach aimed at improving the overall health
             outcomes and quality of life for individuals living with chronic or long-term medical conditions. 
             It involves the coordination and integration of various healthcare services, resources, and interventions
              to effectively prevent, monitor, treat, and manage the progression of a particular disease or multiple coexisting conditions.
          </p>
          <div class="row mt-3">
            <h2>Team members</h2>
              <div class="col-md-6">
                
                  <ul>
                      <li>Name: Prakash</li>
                      <li>Age: 21</li>
                      <li>Occupation:Social service</li>

                  </ul>
              </div>
              <div class="col-md-6">
                <ul>
                    <li>Name: Venkat Jee</li>
                    <li>Age: 21</li>
                    <li>Occupation:Social service</li>

                </ul>
            </div>
            <div class="col-md-6">
              <ul>
                  <li>Name: Krishna Veni</li>
                  <li>Age: 21</li>
                  <li>Occupation:Social service</li>

              </ul>
          </div>
            <div class="col-md-6">
                <ul>
                    <li>Name: Reetika</li>
                    <li>Age: 21</li>
                    <li>Occupation:Social service</li>

                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>Name: Lakshmi Sahithi</li>
                    <li>Age: 21</li>
                    <li>Occupation:Social service</li>

                </ul>
            </div>
          </div>
          <div class="row mt-3">
              <p> Our primary goal is to optimize patient well-being, enhance self-care abilities, 
                and minimize the impact of the disease on daily life. It goes beyond individual medical treatments and addresses 
                the broader aspects of healthcare, including patient education, lifestyle modifications, medication adherence, 
                regular monitoring, and ongoing support.
              </p>
          </div>
      </div>
  </div>