<div class="div1">
    <img [src]="images" alt="">
    <div class="div2">
      <h3>Login</h3>
      <hr style="width: 300px;">
      <br>
      <input type="text" placeholder="Email or Username">
      <br>
      <br>
      <input type="password" placeholder="password">
      <br>
      <br>
      <button (click)="onclick1()">Login</button>
      <br>
      <br>
      <ul>
        <li>Terms & conditions Read more.. <a style="text-decoration: none;" (click)="onclick()">Signup</a></li>
      </ul>
    </div>
  </div>
  