/* table.outline {
    border-collapse: collapse;
  }
  
  table.outline th,
  table.outline td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  table.outline th {
    background-color: #f2f2f2;
  }
   */